body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    color: #8a8a8a;
    margin: 0px;
}

.msg {
    padding: 20px;
}

.logo {
    padding: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    margin: 0px 10px 0px 0px;
    border-radius: 11px;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #07e87e;
}

.buttons {
    display: flex;
}

.contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #07e87e;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: inherit;
}