<div class="user-details">
  <h1>Quem Somos</h1>
  <p class=" text-justify">
    O Mandacaru HackerSpace (ou Mandacaru HS ou MHS, para abreviar) é um laboratório comunitário, sem fins econômicos ou lucrativos, de caráter social, cultural, educacional, técnico-científico, assistencial, promocional e recreativo, sem cunho religioso ou partidário.
Tudo começou como um sonho, um simples desejo de estudantes, ex-estudantes e professores da comunidade feirense de promover a pesquisa e o desenvolvimento tecnológico,cultural, artístico e social no agreste baiano, visando a produzir/compartilhar conhecimento de maneira descentralizada e desburocratizada. Esse sonho foi ganhando corpo até que em 1º de agosto de 2016 a massa crítica foi atingida e o inevitável aconteceu: o Mandacaru HS entrou em funcionamento!
O Mandacaru HS tem como principais objetivos:</p>
  <ol class="text-left">
    <li>Fomentar o desenvolvimento de uma comunidade de interessados em inovação, ciência, cultura, tecnologia, criatividade, artes e disseminação do conhecimento;</li>
    <li>Promover os ideais da ética hacker perante a comunidade e o poder público, esclarecendo desentendimentos acerca do termo;</li>
    <li>Promover e dar apoio ao uso de tecnologias e padrões que permitam seu livre uso, estudo, adaptação e compartilhamento, respeitando a autonomia individual e coletiva e incentivando a colaboração;</li>
    <li>Promover o acesso à tecnologia e à informação;</li>
    <li>Promover o livre acesso à educação, à cultura, à arte e ao conhecimento;</li>
    <li>Promover o desenvolvimento econômico e social sustentável, a ética, a paz, a cidadania, os direitos humanos, a democracia e o combate à pobreza.</li>
  </ol>
  <p class="text-justify">Impera no MHS a máxima “faça você mesmo” (no inglês, Do It Yourself - DIY), ou seja, se você deseja realizar um projeto, individual ou coletivamente, cabe a você buscar os meios de torná-lo realidade. O espaço disponibilizará, dentro das suas possibilidades materiais (pois os recursos são escassos), os meios para que você possa atingir o seu objetivo.</p>
</div>


 