<div class="user-details">
    <h1>Como Colaborar</h1>
    <p class=" text-justify"> Um HackerSpace é feito de pessoas para outras pessoas. Assim, a forma mais fundamental de colaboração é o trabalho dos colaboradores.</p>
    <p class=" text-justify"> Caso você seja daquelas pessoas que gostam de tecnologia, cultura, arte, de construir coisas com as próprias mãos etc, venha conhecer o nosso espaço e, caso se sinta motivado, passe a frequentá-lo aos poucos, sem compromisso.</p>
    <p class=" text-justify"> Precisamos de gente que tenha disposição tanto para desenvolver atividades no espaço quanto para ajudar na sua conservação.</p>
    <p class=" text-justify"> Uma outra forma fundamental de ajudar o espaço é através de contribuições em dinheiro e doações de materiais. O MHS tem várias despesas fixas como, por exemplo, aluguel do imóvel, energia elétrica, água e materiais para limpeza do espaço. A sua ajuda é de extrema importância para que este sonho continue vivo!</p>        
</div>