<div id="particles-js" style="background-image: url({{ site.imagem }}); background-attachment: fixed;">
  <div class="header">
    {% if site.imagem_logo_principal %}
    <div  class="mt-5">
      <img class="d-none d-md-block img-fluid" src="{{site.imagem_logo_principal}}" alt="{{site.nome}}" style="min-width: 300px">
      <img class="d-block d-md-none img-fluid" src="{{site.imagem_logo_principal_mobile}}" alt="{{site.nome}}" style="min-width: 300px">
    </div>
    {% endif %}

    <h1>
      <span class="site-title">{% if site.imagem_logo_principal %} {%else%}{{ site.nome}}{% endif %}</span>
      <span class="site-description">{% if site.imagem_logo_principal %} {%else%}{{ site.descricao}}{% endif %}</span>
    </h1>

    <div class="header-icons" style="margin-top: -100px">
      <a aria-label="Send email" href="mailto: {{ site.contato_email }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Instagram" target="_blank" href="{{ site.contato_instagram }}"><i class="icon fa fa-instagram"
          aria-hidden="true"></i></a>
      <a aria-label="My Facebook" target="_blank" href="{{ site.contato_facebook }}"><i class="icon fa fa-facebook"
          aria-hidden="true"></i></a>
    </div>

    <div class="header-links">
      <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>